<% include ../partials/header  %>



<div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-4">
                <div>
                 <img src="<%= post.image.secure_url %>" class="img-responsive" alt="">
                </div>
                     <span><i class="fa fa-calendar"></i> <%=  post.created.toDateString()  %></span>
                    <div class="courses-detail">
                     <h3><a href="#"><%=  post.title      %></a></h3>
                     <p><%=  post.desc      %></p>
                    </div>  
                    <div class="courses-info">
                     <div class="courses-author">
                        <span>posted by <%=  post.author.username   %></span><br /><br />
                    </div> 
                    <div style="float: right; ">
                        <a class="btn btn-primary" href="/postBus/<%= post.id %>/comments"> Leave a comment</a><br /><br />
                     </div>
                     <div>
                       <a class="btn btn-primary" href="/postBus/<%= post.id %>/edit"> Edit business post</a>
                    </div>
                    <div style="float: right;">
                      <form action="/postBus/<%= post.id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete post</button>
                      </form>  
                    </div> <br /><br />
            </div>
           
            </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-sm-4">
            <% post.comments.forEach(function(comment) { %>
            <div class="well well-sm">
                    <div> <%= comment.author.username %> </div>
                    <div> <%= comment.text    %> </div>
                    <div class="courses-author">
                      <img src="<%= comment.author.image.secure_url %>" /> 
                    </div>
                  </div>
            <% }) %>
          </div>
    </div>
    </div>
    
    
    <div class="container" id="reg">
      </div>
    




<% include ../partials/footer %>