      <% include ./partials/header  %>
     <!-- PRE LOADER -->
     <section class="preloader">
      <div class="spinner">

           <span class="spinner-rotate"></span>
           
      </div>
 </section>

 
     <!-- HOME -->
     <section id="home">
        <div class="row">
                  <div class="owl-carousel owl-theme home-slider">
                       <div class="item item-first">
                            <div class="caption">
                                 <div class="container">
                                      <div class="col-md-12 col-sm-12">
                                         <h1> Write Your Dreams Down</h1>
                                         <h2>Dreams And Nightmares</h2>
                                         <a href="/post" class="section-btn btn btn-default smoothScroll">view  more</a>
                                      </div>
                                 </div>
                            </div>
                       </div>
                       <div class="item item-second">
                            <div class="caption">
                                 <div class="container">
                                      <div class="col-md-12 col-sm-12">
                                           <h1>Your Idea Is An Answer</h1>
                                           <h3>Together We Are challengingly Creative</h3>
                                           <a href="/postBus" class="section-btn btn btn-default smoothScroll">Request for a consultant</a>
                                      </div>
                                 </div>
                            </div>
                       </div>
                       <div class="item item-third">
                            <div class="caption">
                                 <div class="container">
                                      <div class="col-md-12 col-sm-12">
                                           <h1>Bringing Ideas To Life</h1>
                                           <h3> SeaOfApps - Minning Ideas  </h3>
                                           <a href="/register" class="section-btn btn btn-default smoothScroll"> Register</a>
                                      </div>
                                 </div>
                            </div>
                       </div>
                  </div>
        </div>
   </section>

   <!-- Courses -->
   <section id="courses">
          <div class="container">
               <div class="row">

                         <div class="section-title">
                              <h2 id="changeColor">Most Recent Articles <small>Get inspired with inspiring quotes</small></h2>
                         </div>
                      
                         <div class="owl-carousel owl-theme owl-courses">
                                   <% posts.forEach(function(post) { %>
                              <div class="col-md-12 col-sm-12">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="<%= post.image.secure_url %>" id="imag-size" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> <%=  post.created.toDateString()  %></span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#"><%=  post.title      %></a></h3>
                                                  <p><%=  post.desc.substring(0, 110)       %></p>
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="images/author-image1.jpg" class="img-responsive" alt="">
                                                       <span>posted by <%=  post.author.username   %></span>
                                                  </div>
                                                  <div class="courses-price">
                                                       <a href="/post/<%= post.id %>"><span>Read more</span></a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <%  }) %>
                         </div>
                             
          </div>
     </section>

       <!-- FEATURE -->
       <section id="feature">
          <div class="container">
               <div class="row">
          
                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              <span> 01 </span>
                              <h3>Inspiring Reads</h3>
                              <p>Gain access to various motivational 
                              quotes from renowned speakers and great men around the world</p>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              <span>02</span>
                              <h3>Books & Library</h3>
                              <p>Download free files with just a single click. we help you
                               grow your knowledge by making these files available </p>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              <span>03</span>
                              <h3>Business Projects</h3>
                              <p> A platform to shed more light on various 
                              business ideas one can venture into with a given amount of capital.</p>
                         </div>
                    </div>

               </div>
          </div>
     </section>

     <!-- Courses -->
     <section id="courses">
               <div class="container">
                    <div class="row">
     
                         <div class="col-md-12 col-sm-12">
                              <div class="section-title">
                                   <h2 id="changeColor">Business Ideas <small> trending business ideas</small></h2>
                              </div>
     
                              <div class="owl-carousel owl-theme owl-courses">
                                        <% postBus.forEach(function(post) { %>
                                             <div class="col-md-12 col-sm-12">
                                                  <div class="item">
                                                       <div class="courses-thumb">
                                                            <div class="courses-top">
                                                                 <div class="courses-image">
                                                                      <img src="<%= post.image.secure_url %>" id="imag-size" class="img-responsive" alt="">
                                                                 </div>
                                                                 <div class="courses-date">
                                                                      <span><i class="fa fa-calendar"></i> <%=  post.created.toDateString()  %></span>
                                                                 </div>
                                                            </div>
               
                                                            <div class="courses-detail">
                                                                 <h3><a href="#"><%=  post.title      %></a></h3>
                                                                 <p><%=  post.desc.substring(0, 110)      %> </p>
                                                            </div>
               
                                                            <div class="courses-info">
                                                                 <div class="courses-author">
                                                                      <img src="images/author-image1.jpg" class="img-responsive" alt="">
                                                                      <span>posted by <%=  post.author.username   %></span>
                                                                 </div>
                                                                 <div class="courses-price">
                                                                      <a href="/postBus/<%= post.id %>"><span>Read more</span></a>
                                                                 </div>
                                                            </div>
                                                       </div>
                                                  </div>
                                             </div>
                                             <%  }) %>    
                              </div>
                    </div>
               </div>
          </section>

     <!-- ABOUT -->
      <section id="about"> 
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-4">
                         <div class="about-info">
                              <h2> Insights </h2>
                              
                              <figure>
                                   <span><i class="fa fa-users"></i></span>
                                   <figcaption>
                                        <h3>Professional consultants</h3>
                                        <p>SeaOfApp team offers affordable and quatity services to customers. Having problems with a paricular idea?? All you have to do really is just to reach out to us and together we will overcome the challange. SeaOfApp team is committed to making the world a better place 
                                        through provision of quality advice, information, research and putting all our resources to good use. SeaOfApp team offers affordable and quatity services to customers. Having problems with a paricular idea?? All you have to do really is just to reach out to us and together we will overcome the challange. SeaOfApp team is committed to making the world a better place 
                                        through provision of quality advice, information, research and putting all our resources to good use.  SeaOfApp team offers affordable and quatity services to customers. Having problems with a paricular idea?? All you have to do really is just to reach out to us and together we will overcome the challange. SeaOfApp team is committed to making the world a better place 
                                        through provision of quality advice, information, research and putting all our resources to good use.   
                                         </p>
                                   </figcaption>
                              </figure>

                              <figure>
                                   <span><i class="fa fa-home"></i></span>
                                   <figcaption>
                                        <h3>Kick-Off</h3>
                                        <p>SeaOfApp was founded somewhere in Africa. Nigeria precisely. It was created by Fredrick Chisom chisom.
                                             He was working with a group of talented and like minded individuals and together they have offered many solutions to different problems facing businesses. 
                                             It was along the line the he thought it was necessary to also 
                                             create an online platform for other users around the world to come together and do great things.
                                             It was along the line the he thought it was necessary to also 
                                        </p>
                                   </figcaption>
                              </figure>

                              <figure>
                                   <span><i class="fa fa-bar-chart-o"></i></span>
                                   <figcaption>
                                        <h3>Free for All</h3>
                                        <p>Content posted on seaOfApp is free. But feel free to donate in other to encourage our collective efforts. haha
                                        </p>
                                   </figcaption>
                              </figure>
                         </div>
                    </div>
                    
                     <div class="col-md-offset-1 col-md-4 col-sm-4"> 
                          <h6 id="seaText">Swim in The Ocean Of Ideas And Creativity <h6> <br />
                          <img src="/images/sea2.jpeg" id="sea" alt="">
                    </div>
               </div>
          </div>
     </section>


     <!-- TEAM -->
     <section id="team">
          <div class="container">
               <div class="row">
                    <div class="col-md-12 col-sm-4">
                         <div class="section-title">
                              <h2>Partners <small>Meet Team members</small></h2>
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-4">
                              <div class="team-info">
                                   <h3>Nonso </h3>
                                   <span>I love Assisting Others</span>
                              </div>
                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                   <li><a href="#" class="fa fa-twitter"></a></li>
                                   <li><a href="#" class="fa fa-instagram"></a></li>
                              </ul>
                         </div>
                    

                    <div class="col-md-6 col-sm-4">
                              <div class="team-info">
                                   <h3>Chimdi</h3>
                                   <span>knowledge is the key!</span>
                              </div>
                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-google"></a></li>
                                   <li><a href="#" class="fa fa-instagram"></a></li>
                              </ul>
                         </div>
                    

                    <div class="col-md-6 col-sm-4">
                              <div class="team-info">
                                   <h3>Somto </h3>
                                   <span>I like Online Platforms</span>
                              </div>
                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-twitter"></a></li>
                                   <li><a href="#" class="fa fa-envelope-o"></a></li>
                                   <li><a href="#" class="fa fa-linkedin"></a></li>
                              </ul>
                         </div>
                   

                    <div class="col-md-6 col-sm-4">
                              <div class="team-info">
                                   <h3>Andrew </h3>
                                   <span>Learning is fun</span>
                              </div>
                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-twitter"></a></li>
                                   <li><a href="#" class="fa fa-google"></a></li>
                                   <li><a href="#" class="fa fa-behance"></a></li>
                              </ul>
                         </div>
                    </div>
                    </div>
     </section>


     


     <!-- TESTIMONIAL -->
     <section id="testimonial">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-4">
                         <div class="section-title">
                              <h2>General Reviews <small>from friends and Partners </small></h2>
                         </div>

                         <div class="owl-carousel owl-theme owl-client">
                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="tst-author">
                                             <h4>Ifeanyi</h4>
                                             <span>Node.js Developer</span>
                                        </div>
                                        <p>You really do help young creative minds to get quality information and professional job search assistance. I’d recommend it to everyone!</p>
                                        <div class="tst-rating">
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="tst-author">
                                             <h4>Emeka</h4>
                                             <span>Business Partner</span>
                                        </div>
                                        <p>Trying something new is exciting! Thanks for the amazing assistance you have always provided me. This platform is really interesting.</p>
                                        <div class="tst-rating">
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="tst-author">
                                             <h4>Chinemerem</h4>
                                             <span>Architect</span>
                                        </div>
                                        <p>Great Platform to share collective ideas. Have met chisom in person and he has always been helpful</p>
                                        <div class="tst-rating">
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="tst-author">
                                             <h4>Samuel</h4>
                                             <span>Banker</span>
                                        </div>
                                        <p>I was initially reluctant when i first came to this website. 
                                             But when i understood it's purpose, i found it to be really helpful. </p>
                                        <div class="tst-rating">
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                        </div>
                                   </div>
                              </div>

                         </div>

               </div>
          </div>
     </section> 


     <!-- CONTACT -->
     <!-- <section id="contact">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <form id="contact-form" role="form" action="" method="post">
                              <div class="section-title">
                                   <h2>Contact us <small>we love conversations. let us talk!</small></h2>
                              </div>

                              <div class="col-md-12 col-sm-12">
                                   <input type="text" class="form-control" placeholder="Enter full name" name="name" required="">
                    
                                   <input type="email" class="form-control" placeholder="Enter email address" name="email" required="">

                                   <textarea class="form-control" rows="6" placeholder="Tell us about your message" name="message" required=""></textarea>
                              </div>

                              <div class="col-md-4 col-sm-12">
                                   <input type="submit" class="form-control" name="send message" value="Send Message">
                              </div>

                         </form>
                    </div>

                    <div class="col-md-6 col-sm-12">
                         <div class="contact-image">
                              <img src="images/contact-image.jpg" class="img-responsive" alt="Smiling Two Girls">
                         </div>
                    </div>

               </div>
          </div>
     </section>        -->


    

    
      
     

      <% include ./partials/footer  %>
   